package views

import "github.com/kvalv/shoplist/carts"
import "github.com/kvalv/shoplist/stores"

templ CartItem(item *carts.Item, isShopping bool, s stores.Store) {
	<div class="border rounded-sm shadow-sm p-1">
		switch s {
			case stores.ClasOhlson:
				@ClasOhlsonItem(item, isShopping)
			case stores.Kiwi:
				if isShopping {
					"shop + kiwi"
				} else {
					"kiwi + not shop"
				}
		}
	</div>
}

templ ClasOhlsonItem(item *carts.Item, isShopping bool) {
	<details>
		<summary class="outline">
			if selected := item.Clas.Selected(); selected != nil {
				<div class="flex gap-2">
					<img
						src={ selected.Picture }
						alt={ selected.Name }
						class="img-thumb-lg"
					/>
					<div class="flex-col gap-half">
						{ selected.Name }
						<div class="text-xs flex gap-1">
							@Price(selected.Price)
							@Availability(selected.Stock)
						</div>
					</div>
				</div>
			} else {
				<div class="flex gap-1 items-center">
					{ item.Text }
					if item.Clas != nil && len(item.Clas.Candidates) > 0 {
						<span class="text-warning">
							@IconWarning()
						</span>
					}
				</div>
			}
		</summary>
		if item.Clas != nil {
			<ul class="flex-col gap-1 pl-2 ">
				for _, el := range item.Clas.Candidates {
					<li
						data-on:click={ f("@post('/select-clas-item?id=%s&clasId=%s')", item.ID, el.ID) }
						class={
							"flex gap-2 p-1 border-divider",
							templ.KV("border-success", item.Clas.Chosen == el.ID),
						}
					>
						<img
							src={ el.Picture }
							alt={ el.Name }
							class="img-thumb-lg"
						/>
						<div class="flex-col gap-half">
							{ el.Name }
							<div class="text-xs flex gap-1">
								@Price(el.Price)
								@Availability(el.Stock)
							</div>
						</div>
					</li>
				}
			</ul>
		} else {
			<span>No suggestions</span>
		}
	</details>
}

templ Price(price float64) {
	<div class="">
		{ price } NOK
	</div>
}

templ Availability(qty int) {
	if qty > 5 {
		<div class="flex gap-half items-center text-secondary text-xs">
			<div aria-label="status" class="dot bg-success "></div>
			In stock
		</div>
	} else if qty > 0 && qty <= 5 {
		<div class="flex gap-half items-center text-secondary text-xs">
			<div aria-label="status" class="dot bg-warning "></div>
			{ f("%d in stock", qty) }
		</div>
	} else {
		<div class="flex gap-half items-center">
			<div aria-label="status" class="dot bg-error"></div>
			Out of stock
		</div>
	}
}

// 24x squared, some rounding on the border
templ Picture(src string, alt string) {
}
