package views

import "github.com/kvalv/shoplist/carts"
import "github.com/kvalv/shoplist/stores"

templ List(items []*carts.Item, s stores.Store) {
	<div class="flex-col gap-1" data-init="let n = el.children.length; new MutationObserver(() => { if (el.children.length > n) window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' }); n = el.children.length; }).observe(el, { childList: true })">
		for _, item := range items {
			@CartItem(item, false, s)
		}
	</div>
}
