package views

import (
	"github.com/kvalv/shoplist/carts"
	"fmt"
	"github.com/kvalv/shoplist/stores"
)

func itemText(item *carts.Item) string {
	if sel := item.Clas.Selected(); sel != nil {
		loc := "location unknown"
		if len(sel.Locations) > 0 {
			loc = sel.Locations[0].Shelf
		}
		return fmt.Sprintf("%s (hylle %s, %d in stock)", item.Text, loc, sel.Stock)
	}
	return item.Text
}

templ cartList(items []*carts.Item) {
	<div data-show="!$shopping" class="flex-col gap-1">
		for _, item := range items {
			@CartItem(item, false, stores.ClasOhlson)
		}
	</div>
	<div data-show="$shopping" class="flex-col gap-1">
		for _, item := range items {
			@CartItem(item, true, stores.ClasOhlson)
		}
	</div>
}

templ Page(current *carts.Cart, choices []*carts.Cart, messages []*carts.Message, shopping bool) {
	if current == nil {
		return "current is nil"
	}
	<html id="foo" data-theme="light">
		<head>
			<script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.7/bundles/datastar.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			// <meta name="color-scheme" content="light"/>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css"
			/>
			// <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
			// <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
			<link rel="stylesheet" href="/static/styles.css?"/>
		</head>
		<body
			id="body"
			data-init="@get('/render')"
			data-signals:current={ q(current.ID) }
			data-signals:shopping__ifmissing={ fmt.Sprintf("%t", shopping) }
			class="container"
			style="min-height: 100vh; display: flex; flex-direction: column;"
		>
			<main class="container" style="flex: 1; padding: 16px;">
				<div class="flex gap-2 items-center">
					@CartSelect(current, choices)
					<select
						value={ fmt.Sprintf("\"%d\"", current.TargetStore) }
						data-bind="store"
						data-on:change="@post('/set-store')"
					>
						<option selected?={ current.TargetStore == stores.Kiwi } value="0">Kiwi</option>
						<option value="1" selected?={ current.TargetStore == stores.ClasOhlson }>Clas Ohlson</option>
					</select>
					<label class="shopping-toggle">
						<input
							type="checkbox"
							role="switch"
							data-bind="shopping"
							data-on:change="const u = new URL(window.location); if ($shopping) { u.searchParams.set('shopping', 'true') } else { u.searchParams.delete('shopping') }; history.replaceState(null, '', u)"
						/>
					</label>
				</div>
				<form
					class="form-add"
					data-on:submit="@post('/add')"
				>
					<input
						data-bind="text"
						name="text"
						type="text"
						placeholder="Add item"
						autocomplete="off"
						autofocus
					/>
					<button data-attr:disabled="$text === ''" type="submit">
						@IconPlus()
					</button>
				</form>
				@cartList(current.Items)
			</main>
			@Chat(messages, current)
		</body>
	</html>
}

templ CartSelect(active *carts.Cart, choices []*carts.Cart) {
	<select
		style=""
		name="cart-id"
		data-bind:current
		data-on:change="@post('/switch-cart')"
	>
		<option
			data-on:select__stop="@post('/new-cart')"
			value="_new"
		>
			<span>New cart</span>
		</option>
		for _, choice := range choices {
			<option
				selected?={ active != nil && choice.ID == active.ID }
				value={ choice.ID }
			>{ choice.Name }</option>
		}
	</select>
}

var f = fmt.Sprintf

// convenience function to quote, so we don't have to do { fmt.Sprintf(...) }
// all over the place.
func q(v any) string {
	switch concr := v.(type) {
	case string:
		return fmt.Sprintf("%q", concr)
	default:
		panic(fmt.Sprintf("quote: not implemented for %T", v))
	}
}
