package views

import "github.com/kvalv/shoplist/carts"
import "github.com/kvalv/shoplist/stores"

templ Shop(items []*carts.Item) {
	<div class="flex-col gap-1" data-init="new MutationObserver(() => window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })).observe(el, { childList: true })">
		for _, item := range items {
			@CartItem(item, true, stores.ClasOhlson)
		}
	</div>
}
