body {
  max-width: 600px;
  margin: 1rem auto;
  padding: 0 16px;
  /* background-color: #fbf1c7; */
  /* font-size: 14px; */
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

h3 {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
